h1 {
    color: rgb(82, 82, 240);
    text-align: center;

}
h2 {
    color:rgb(255, 52, 52);
    text-align: center;
}
h3 {
    color:orange;
    text-align: center;
}

.wrap {
    overflow: hidden; 
}

input.aaa{
    width:100%;
}
input.bbb{
    width:50%;
}

