h1 {
    color: rgb(82, 82, 240);
    text-align: center;

}
h2 {
    color:rgb(255, 52, 52);
    text-align: center;
}

.wrap {
    overflow: hidden; 
}

input.aaa{
    width:100%;
}
input.bbb{
    width:50%;
}
thead th {
    /* 縦スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* tbody内のセルより手前に表示する */
    z-index: 1;
    /* opacity: 1; */
  }
  table{
    /* width:90%; */

  }