<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <title>閉店締め用現金計算機</title>
        <a href="/clear" onclick="return confirm('本当にクリアしますか？\r\n全ての保持された内容が消去されます')">クリア</a>
        <input type="button" onclick= "location.href='/' "value="最初に戻る">

</head>
<body>
    {% block content %}
    {% endblock %}
</body>


</html>