{%- extends "base.html" %}
{%- block content %}

{% if chk %}
<p>売上一致</p>

<table border=0>
    <tr>
        <td>

            現金有高記入例
            <table border>
                <tr>
                    <td>金種</td>
                    <td>枚数</td>
                </tr>
                <tr>
                    <td>10,000</td>
                    <td>
                    {{ d.10000 }}
                    </td>
                </tr>
                <tr>
                    <td>5,000</td>
                    <td>
                    {{ d.5000 }}
                    </td>
                </tr>
                <tr>
                    <td>1,000</td>
                    <td>
                    {{ d.1000 }}
                    </td>
                </tr>
                <tr>
                    <td>500</td>
                    <td>
                    {{ d.500 }}
                    </td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>
                    {{ d.100 }}
                    </td>
                </tr>
            </table>
        </td>        

        <td>
            回収硬貨
            <table border>
                <tr>
                <td>金種</td>
                <td>枚数</td>
                </tr>
                <tr>
                <td>500</td>
                <td>{{ session.seisan_500 }}</td>
                </tr>
                <tr>
                <td>100</td>
                <td>
                    {{ session.seisan_100 }}
                </td>
                </tr>
            </table>
        </td>

    </tr>
</table>

{%- include "safe_margin_form.html" %}

{% else %}
<p>売上不一致</p>

<form action="/input_value" method="POST">
ホールコン現金有高
<input type="number" required name="hall_com" value={{session["hall_com"]}}>
<input type="submit" value="送信">

{% endif %}
{%- endblock %}