{%- block content %}
<form action="/pachi_calc" method="POST" enctype="multipart/form-data">
    <input type="number" name="p1_1k" value=1>
    <input type="number" name="p1_10k" value=1>
    <input type="number" name="p1_5k" value=1>

    <input type="number" name="p2_1k" value=1>
    <input type="number" name="p2_10k" value=1>
    <input type="number" name="p2_5k" value=1>

    <input type="number" name="p3_1k" value=1>
    <input type="number" name="p3_10k" value=1>
    <input type="number" name="p3_5k" value=1>

    <input type="number" name="p4_1k" value=1>
    <input type="number" name="p4_10k" value=1>
    <input type="number" name="p4_5k" value=1>

    <input type="number" name="p5_1k" value=1>
    <input type="number" name="p5_10k" value=1>
    <input type="number" name="p5_5k" value=1>

    <input type="number" name="p6_1k" value=1>
    <input type="number" name="p6_10k" value=1>
    <input type="number" name="p6_5k" value=1>

    <input type="number" name="p7_1k" value=1>
    <input type="number" name="p7_10k" value=1>
    <input type="number" name="p7_5k" value=1>

    <input type="number" name="p8_1k" value=1>
    <input type="number" name="p8_10k" value=1>
    <input type="number" name="p8_5k" value=1>

    <input type="number" name="p9_1k" value=1>
    <input type="number" name="p9_10k" value=1>
    <input type="number" name="p9_5k" value=1>

    <input type="number" name="p10_1k" value=1>
    <input type="number" name="p10_10k" value=1>
    <input type="number" name="p10_5k" value=1>
  
    <input type="number" name="pachi_all" value=1>

    <input type="submit" value="送信" value=1>

</form>
{%- endblock %}