{%- block content %}

<table border class="table table-striped-columns">
<form action="/pachi_calc" method="POST" enctype="multipart/form-data">

<thead>
    <th></th>
    <th>1,000</th>
    <th>10,000</th>
    <th>5,000</th>
</thead>
<tr>
<td>1</td>
<td><input type="number" class="aaa" required name="p1_1k" value={{session["p1_1k"]}}></td>
<td><input type="number" class="aaa" required name="p1_10k" value={{session["p1_10k"]}}></td>
<td><input type="number" class="aaa" required name="p1_5k" value={{session["p1_5k"]}}></td>
</tr>
<tr>
<td>2</td>
<td><input type="number" class="aaa" required name="p2_1k" value={{session["p2_1k"]}}></td>
<td><input type="number" class="aaa" required name="p2_10k" value={{session["p2_10k"]}}></td>
<td> <input type="number" class="aaa" required name="p2_5k" value={{session["p2_5k"]}}></td>
</tr>
<tr>
<td>3</td>
<td><input type="number" class="aaa" required name="p3_1k" value={{session["p3_1k"]}}></td>
<td><input type="number" class="aaa" required name="p3_10k" value={{session["p3_10k"]}}></td>
<td> <input type="number" class="aaa" required name="p3_5k" value={{session["p3_5k"]}}></td>
</tr>
<tr>
<td>4</td>
<td><input type="number" class="aaa" required name="p4_1k" value={{session["p4_1k"]}}></td>
<td><input type="number" class="aaa" required name="p4_10k" value={{session["p4_10k"]}}></td>
<td> <input type="number" class="aaa" required name="p4_5k" value={{session["p4_5k"]}}></td>
</tr>
<tr>
<td>5</td>
<td><input type="number" class="aaa" required name="p5_1k" value={{session["p5_1k"]}}></td>
<td><input type="number" class="aaa" required name="p5_10k" value={{session["p5_10k"]}}></td>
<td> <input type="number" class="aaa" required name="p5_5k" value={{session["p5_5k"]}}></td>
</tr>
<tr>
<td>6</td>
<td><input type="number" class="aaa" required name="p6_1k" value={{session["p6_1k"]}}></td>
<td><input type="number" class="aaa" required name="p6_10k" value={{session["p6_10k"]}}></td>
<td> <input type="number" class="aaa" required name="p6_5k" value={{session["p6_5k"]}}></td>
</tr>
<tr>
<td>7</td>
<td><input type="number" class="aaa" required name="p7_1k" value={{session["p7_1k"]}}></td>
<td><input type="number" class="aaa" required name="p7_10k" value={{session["p7_10k"]}}></td>
<td> <input type="number" class="aaa" required name="p7_5k" value={{session["p7_5k"]}}></td>
</tr>
<tr>
<td>8</td>
<td><input type="number" class="aaa" required name="p8_1k" value={{session["p8_1k"]}}></td>
<td><input type="number" class="aaa" required name="p8_10k" value={{session["p8_10k"]}}></td>
<td> <input type="number" class="aaa" required name="p8_5k" value={{session["p8_5k"]}}></td>
</tr>
<tr>
<td>9</td>
<td><input type="number" class="aaa" required name="p9_1k" value={{session["p9_1k"]}}></td>
<td><input type="number" class="aaa" required name="p9_10k" value={{session["p9_10k"]}}></td>
<td> <input type="number" class="aaa" required name="p9_5k" value={{session["p9_5k"]}}></td>
</tr>
<tr>
<td>10</td>
<td><input type="number" class="aaa" required name="p10_1k" value={{session["p10_1k"]}}></td>
<td><input type="number" class="aaa" required name="p10_10k" value={{session["p10_10k"]}}></td>
<td> <input type="number" class="aaa" required name="p10_5k" value={{session["p10_5k"]}}></td>
</tr>
</table>
合計金額  
    <input type="number" class="aaa" required name="pachi_all" value={{session["pachi_all"]}}>

    <input type="submit" class="btn btn-primary" value="送信" >

</form>

{%- endblock %}