{%- block content %}

<form action="/safe_margin_calc" method="POST">
    

<div class="row mb-0">
        <label for="formGroupExampleInput" class="col-sm-2 col-form-label">前日マージン残</label>
        <div class="col-sm-10">
    <input type="number" class="bbb" required name="y_margin" value={{session["y_margin"]}}>
    </div>
</div>
    <div class="row mb-0">
        <label for="formGroupExampleInput" class="col-sm-2 col-form-label">当日マージン</label>
        <div class="col-sm-10">
    <input type="number" class="bbb" required name="t_margin" value={{session["t_margin"]}}>
    </div>
</div>
    <div class="row mb-0">
        <label for="formGroupExampleInput" class="col-sm-2 col-form-label">追加マージン</label>
        <div class="col-sm-10">
    {% if session["add_margin"] %}
    <input type="number" class="bbb" required name="add_margin" value={{session["add_margin"]}}>
    {% else %}
    <input type="number" class="bbb" required name="add_margin" value=0>
    {% endif %}
    </div>
</div>
    
    当日マージン残
    <table border class="table table-striped-columns">
        <tr>
        <td></td>
        <td>枚数</td>
        </tr>
        <tr>
        <td>10,000</td>
        <td>
            <input type="number" class="aaa" required name="margin_10k" value={{session["margin_10k"]}}>
        </td>
        </tr>
        <tr>
        <td>1,000</td>
        <td>
            <input type="number" class="aaa" required name="margin_1k" value={{session["margin_1k"]}}>
        </td>
        </tr>
        <tr>
        <td>100</td>
        <td>
            <input type="number" class="aaa" required name="margin_100" value={{session["margin_100"]}}>
        </td>
        </tr>
    </table>
金庫残
    <table border class="table table-striped-columns">
        <tr>
            <td></td>
            <td>枚数</td>
        </tr>
        <tr>
            <td>10,000</td>
            <td>
                <input type="number" class="aaa" required name="safe_10k" value={{session["safe_10k"]}}>
            </td>
        </tr>
        <tr>
            <td>5,000</td>
            <td>
                <input type="number" class="aaa" required name="safe_5k" value={{session["safe_5k"]}}>
            </td>
        </tr>
        <tr>
            <td>1,000</td>
            <td>
                <input type="number" class="aaa" required name="safe_1k" value={{session["safe_1k"]}}>
            </td>
        </tr>
        <tr>
            <td>500</td>
            <td>
                <input type="number" class="aaa" required name="safe_500" value={{session["safe_500"]}}>
            </td>
        </tr>
        <tr>
            <td>100</td>
            <td>
                <input type="number" class="aaa" required name="safe_100" value={{session["safe_100"]}}>
            </td>
        </tr>
    </table>
    <input type="submit" value="送信">

</form>

{%- endblock %}