{%- extends "base.html" %}
{%- block content %}

{% if chk1 and chk2 %}
<p>金庫残及びマージン一致</p>
<p>現金確認日報記入枚数・金額</p>

金庫
<table border class="table table-striped-columns">
    <tr>
        <td>￥10,000</td>
        <td>
            {{ session.safe_10k }}
        </td>
        <td>
            {{ session.safe_10k * 10000 }}
        </td>
    </tr>
    <tr>
        <td>￥5,000</td>
        <td>
            {{ session.safe_5k }}
        </td>
        <td>
            {{ session.safe_5k * 5000 }}
        </td>
    </tr>
    <tr>
        <td>￥2,000</td>
        <td>
            0
        </td>
        <td>
            0
        </td>
    </tr>
    <tr>
        <td>￥1,000</td>
        <td>
            {{ session.safe_1k }}
        </td>
        <td>
            {{ session.safe_1k * 1000 }}
        </td>
    </tr>
    <tr>
        <td>￥500</td>
        <td>
            {{ session.safe_500 }}
        </td>
        <td>
            {{ session.safe_500 * 500 }}
        </td>
    </tr>
    <tr>
        <td>￥100</td>
        <td>
            {{ session.safe_100 }}
        </td>
        <td>
            {{ session.safe_100 * 100 }}
        </td>
    </tr>
    <tr>
        <td>合計</td>
        <td>
            
        </td>
        <td>
            {{ session.safe_sum }}
        </td>
    </tr>
</table>
    


<br>
福祉手数料

<table border class="table table-striped-columns">
    <tr>
    <td>￥10,000</td>
    <td>
        {{ session.margin_10k }}
    </td>
    <td>
        {{ session.margin_10k * 10000 }}
    </td>
    </tr>
    <tr>
    <td>￥1,000</td>
    <td>
        {{ session.margin_1k }}
    </td>
    <td>
        {{ session.margin_1k * 1000 }}
    </td>
    </tr>
    <tr>
    <td>￥100</td>
    <td>
        {{ session.margin_100 }}
    </td>
    <td>
        {{ session.margin_100 * 100 }}
    </td>
    </tr>
    <tr>
    <td>￥50</td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    </tr>
    </table>
    

{% elif not chk1 %}

<p>金庫残誤差発生、再確認してください</p>
<p>現在の金庫総額:￥{{ session.safe_sum }}</p>
{%- include "safe_margin_form.html" %}


{% else %}
<p>マージン誤差発生、再確認してください。</p>
{%- include "safe_margin_form.html" %}

{% endif %}
{%- endblock %}