{%- block content %}

{% if form_data %}
<form action="/seisan_calc" method="POST" enctype="multipart/form-data">
    <input type="number" required name="seisan_1k" value={{session["seisan_1k"]}}>
    <input type="number" required name="seisan_500" value={{session["seisan_500"]}}>
    <input type="number" required name="seisan_100" value={{session["seisan_100"]}}>

    <input type="number" required name="seisan_all" value={{session["seisan_all"]}}>

    <input type="submit" value="送信">

</form>

{% else %}
<form action="/seisan_calc" method="POST" enctype="multipart/form-data">
    <input type="number" required name="seisan_1k" value=1>
    <input type="number" required name="seisan_500" value=1>
    <input type="number" required name="seisan_100" value=1>

    <input type="number" required name="seisan_all" value=1>

    <input type="submit" value="送信">

</form>


{% endif %}
{%- endblock %}