{%- extends "base.html" %}
{%- block content %}

{% if session["seisan_sum"] == 1000000 - session["seisan_all"] %}
<h1>
精算機回収金一致
</h1>
<form action="/input_value" method="POST" enctype="multipart/form-data">
ホールコン現金有高
<input type="number" required name="hall_com" value={{session["hall_com"]}}>
<input type="submit" value="送信">

</form>


</p>

{% else %}
<h2>精算回収金誤差発生</h2>
<p>照会し誤差を特定してください。
</p>
<table border class="table table-striped-columns">
    <tr>
        <td>￥1,000</td>
        <td>￥500</td>
        <td>￥100</td>
        <td>回収</td>
        <td>精算</td>
    </tr>
    <tr>
        <td>
            {{ session["seisan_1k"] }}
        </td>
        <td>
            {{ session["seisan_500"] }}
        </td>
        <td>
            {{ session["seisan_100"] }}
        </td>
        <td>
           ￥ {{ session["seisan_sum"] }}
        </td>
        <td>
           ￥ {{ 1000000 - session["seisan_sum"] }}
        </td>
    </tr>
    </table>
    
    {%- include "seisan_form.html" %}

{% endif %}



{%- endblock %}



