{%- extends "base.html" %}

{%- block content %}




{% if session.slot_chk == 1 %}

<h1>スロット回収金一致</h1>
{% if session.slot_error %}
<h3>スロット誤差金:￥{{ session.slot_error }}</h3>
{% else %}
{% endif %}
<p>パチンコ回収金を入力してください。
</p>
{%- include "pachi_form.html" %}

{% else %}


<h2>スロット回収金誤差発生</h2>
<p>島一覧を照会し箇所を特定してください。
</p>
<table border class="table table-striped-columns">
<tr align="right">
<td></td>
<td>10,000</td>
<td>5,000</td>
<td>1,000</td>
<td align="center">合計</td>
</tr>
<tr align="right">
<td>A側</td>
<td>{{ sa.bill_10k }}枚</td>
<td>{{ sa.bill_5k }}枚</td>
<td>{{ sa.bill_1k }}枚</td>
<td>{{ sa.sum }}</td>
</tr>
<tr align="right">
<td>B側</td>
<td>{{ sb.bill_10k }}枚</td>
<td>{{ sb.bill_5k }}枚</td>
<td>{{ sb.bill_1k }}枚</td>
<td>{{ sb.sum }}</td>
</tr>
</table>

{%- include "slot_form.html" %}
{% endif %}



{%- endblock %}



