{%- block content %}

<table border>
<form action="/slot_calc" method="POST" enctype="multipart/form-data">
<tr>
    <td></td>
    <td>1,000</td>
    <td>10,000</td>
    <td>5,000</td>
</tr>
<tr>
    <td>A側</td>
    <td>
    <input type="number" required name="sa_1k" value={{session["sa_1k"]}}>
    </td>
    <td>
    <input type="number" required name="sa_10k" value={{session["sa_10k"]}}>
    </td>
    <td>
    <input type="number" required name="sa_5k" value={{session["sa_5k"]}}>
    </td>
</tr>
<tr>
    <td>B側</td>
    <td>
    <input type="number" required name="sb_1k" value={{session["sb_1k"]}}>
    </td>
    <td>
    <input type="number" required name="sb_10k" value={{session["sb_10k"]}}>
    </td>
    <td>
    <input type="number" required name="sb_5k" value={{session["sb_5k"]}}>
    </td>
</tr> 
</table>

合計金額
<input type="number" required name="slot_all" value={{session["slot_all"]}}>

    <input type="submit" value="送信" >
</form>


{%- endblock %}