{%- block content %}

<div class="col-lg-6">
<table class="table table-striped-columns">
<form action="/slot_calc" method="POST" enctype="multipart/form-data">
<thead>
    <th></th>
    <th>1,000</th>
    <th>10,000</th>
    <th>5,000</th>
</thead>
<tbody>
<tr>
    <td>A側</td>
    <td>
    <input type="number" class="aaa"  required name="sa_1k" value={{session.sa_1k}}>
    </td>
    <td>
    <input type="number"  class="aaa" required name="sa_10k" value={{session.sa_10k}}>
    </td>
    <td>
    <input type="number"  class="aaa" required name="sa_5k" value={{session.sa_5k}}>
    </td>
</tr>
<tr>
    <td>B側</td>
    <td>
    <input type="number"  class="aaa" required name="sb_1k" value={{session.sb_1k}}>
    </td>
    <td>
    <input type="number"  class="aaa" required name="sb_10k" value={{session.sb_10k}}>
    </td>
    <td>
    <input type="number"  class="aaa" required name="sb_5k" value={{session.sb_5k}}>
    </td>
</tr> 

</tbody>
</table>
</div>

<p>
誤差
<input type="number" required name="slot_error"

{% if session.slot_error %}
value = {{session.slot_error}}>

{% else %}
value=0 >

{% endif %}
</p>
<p>
    合計金額
<input type="number" required name="slot_all" value={{session.slot_all}}>

    <input type="submit" class="btn btn-primary" value="送信" >
</p>

</form>





{%- endblock %}